@charset "UTF-8";
/*!
 * shengbangshenghua
*/
.clearfix:before,
.clearfix:after {
  clear: both;
  content: " ";
  display: table; }

/*导航条css*/
.navbar {
  margin-bottom: 0; }

.navbar-default {
  background-color: #ffffff; }

.navbar-default .navbar-nav > li > a {
  color: #4d2b22;
  font-family: 楷体;
  font-size: 18px;
  font-weight: 700; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #cd9477; }

/*banner css*/
.jumbotron {
  background-color: #fff;
  padding: 0;
  position: relative; }
  .jumbotron img {
    width: 100%;
    display: none;
    position: absolute; }

#abos {
  color: #bc8d73; }

/*首页css*/
.shou-main .main {
  background-image: url(../images/main-bg.jpg);
  padding-top: 70px; }
  .shou-main .main img {
    margin-top: 800px; }
  .shou-main .main h3 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px; }

.shou-main h3 {
  text-align: center;
  font-family: 微软雅黑;
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 30px;
  color: #1b1b1b; }

.shou-main .main1 {
  background-color: #f2f2f2;
  padding: 50px 0; }
  .shou-main .main1 .col-md-4 img {
    width: 100%; }
  .shou-main .main1 .col-md-8 h4 {
    font-size: 18px; }
    .shou-main .main1 .col-md-8 h4 a {
      color: #333; }
  .shou-main .main1 .col-md-8 h4:nth-of-type(2) {
    margin-top: 30px; }
  .shou-main .main1 .col-md-8 p {
    font-size: 14px;
    color: #9c9a9a; }

.shou-main .main2 {
  padding-bottom: 90px; }
  .shou-main .main2 img {
    width: 98%;
    margin-bottom: 35px; }

@media (max-width: 1024px) {
  .shou-main .main img {
    margin-top: 500px;
    width: 100%; } }

@media (max-width: 720px) {
  .shou-main .main img {
    margin-top: 150px;
    width: 100%; }
  body .shou-main .main1 .col-md-4 img {
    width: 100%; } }

/*荣誉证书css*/
.abot-main {
  padding: 50px 0; }
  .abot-main .col-md-4 img {
    width: 80%;
    max-height: 180px;
    margin: 10px 0; }
  .abot-main .col-md-12 ul {
    margin-left: 300px;
    margin-top: 20px; }
  .abot-main .col-md-12 li {
    float: left;
    list-style: none; }
    .abot-main .col-md-12 li a {
      border: 1px solid #b0afaf;
      padding: 5px 10px;
      margin: 0 10px;
      text-decoration: none;
      color: #6f6f6f; }
      .abot-main .col-md-12 li a:hover {
        color: aqua; }

@media (max-width: 720px) {
  .container {
    width: 320px; }
  .abot-main .col-md-12 ul {
    margin-left: 0px;
    margin-top: 0px; }
  .abot-main .col-md-12 li {
    float: none;
    margin: 15px 0;
    text-align: center; } }

/*公司介绍css*/
.jie-main {
  margin-top: 850px; }
  .jie-main h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 宋体;
    color: #3f3f3f; }
  .jie-main .shi {
    padding: 50px 0; }
  .jie-main .main-pic {
    text-align: center;
    margin-bottom: 50px; }
  .jie-main .main-1 {
    background-image: url(../images/qi-3.jpg); }
    .jie-main .main-1 .wen {
      background-color: rgba(255, 255, 255, 0.67);
      padding: 20px; }
      .jie-main .main-1 .wen h2 {
        text-align: center;
        margin-bottom: 20px;
        font-family: 宋体;
        color: #3f3f3f; }
      .jie-main .main-1 .wen p {
        line-height: 1.8em;
        font-size: 1em;
        color: #2f2f2f;
        margin-bottom: 15px;
        padding: 0 40px;
        text-align: center; }
  .jie-main .main-li {
    text-align: center;
    padding-top: 20px; }
    .jie-main .main-li h2 {
      margin: 50px 0;
      font-family: 宋体;
      font-weight: 700;
      color: #3f3f3f; }
    .jie-main .main-li img {
      border: 1px solid #bdbdbd; }

@media (max-width: 1024px) {
  .jie-main {
    margin-top: 580px; } }

@media (max-width: 720px) {
  .container {
    width: 320px; }
  .jie-main {
    margin-top: 230px; }
    .jie-main img {
      width: 100%; } }

/*浴缸展示css*/
.chan-main {
  margin-top: 900px;
  padding-bottom: 50px; }
  .chan-main a {
    text-decoration: none;
    display: block;
    padding: 10px 0;
    color: #646464;
    font-family: 仿宋;
    font-size: 30px; }
  .chan-main .col-md-3 img {
    width: 90%;
    margin-bottom: 10px;
    border: 1px solid #d4d4d4; }

@media (max-width: 1024px) {
  .chan-main {
    margin-top: 530px; } }

@media (max-width: 720px) {
  .container {
    width: 320px; }
  .chan-main {
    margin-top: 240px; } }

/*产品展示css*/
.zhan-main {
  padding-top: 30px;
  padding-bottom: 60px; }
  .zhan-main .col-md-12 ul {
    margin-left: 300px;
    margin-top: 20px; }
  .zhan-main .col-md-12 li {
    float: left;
    list-style: none; }
    .zhan-main .col-md-12 li a {
      border: 1px solid #b0afaf;
      border-radius: 3px;
      padding: 5px 10px;
      margin: 0 10px;
      text-decoration: none;
      color: #6f6f6f; }
      .zhan-main .col-md-12 li a:hover {
        color: aqua; }
  .zhan-main .col-md-3 img {
    width: 98%;
    margin: 15px 0;
    border-radius: 10%; }

@media (max-width: 720px) {
  .container {
    width: 320px; }
  .zhan-main .col-md-12 ul {
    margin-left: 0px;
    margin-top: 0px; }
  .zhan-main .col-md-12 li {
    float: none;
    margin: 15px 0;
    text-align: center; } }

/*招商加盟css*/
.meng-main {
  margin-top: 800px;
  padding-top: 70px; }
  .meng-main h2 {
    text-align: center;
    color: #4d3939; }
  .meng-main .col-md-4 img {
    width: 98%;
    padding: 15px 0;
    margin-top: 20px;
    padding-bottom: 70px; }
  .meng-main .main2 {
    background-color: #dfdfdf; }
    .meng-main .main2 .pin {
      padding: 60px;
      background-color: rgba(255, 255, 255, 0.5); }
      .meng-main .main2 .pin h3 {
        border-bottom: 1px solid #4d3939;
        text-align: center;
        margin-bottom: 20px;
        color: #5a5959;
        padding-bottom: 15px;
        margin-bottom: 15px; }
        .meng-main .main2 .pin h3 span {
          margin-right: 10px;
          font-size: 30px; }
      .meng-main .main2 .pin p {
        color: #9d9c9c;
        line-height: 1.8em; }
  .meng-main .main3 {
    padding: 50px 0; }
    .meng-main .main3 h2 {
      padding-bottom: 30px; }
    .meng-main .main3 p {
      font-size: 13px; }
      .meng-main .main3 p span {
        font-size: 30px;
        margin-right: 35px; }
  .meng-main .main4 {
    background-color: #dfdfdf;
    padding: 50px 0; }
    .meng-main .main4 .col-md-12 {
      text-align: center; }

@media (max-width: 1024px) {
  .meng-main {
    margin-top: 480px; }
  img {
    width: 100%; } }

@media (max-width: 720px) {
  .container {
    width: 320px; }
  .meng-main {
    margin-top: 200px; }
    .meng-main img {
      width: 100%; } }

footer {
  background-color: #2a1711;
  padding: 30px 0; }
  footer .col-md-4 li {
    list-style: none;
    padding: 5px 0; }
    footer .col-md-4 li i {
      margin-right: 10px; }
    footer .col-md-4 li a {
      color: #fff; }
  footer .col-md-4 .abiv {
    background-color: #e5e5df;
    color: #333;
    height: 30px;
    width: 100px;
    display: block;
    line-height: 30px;
    text-align: center;
    border-radius: 3px; }

/*右侧悬浮菜单*/
.slide {
  width: 50px;
  height: 250px;
  position: fixed;
  top: 50%;
  margin-top: -126px;
  background: #018D75;
  right: 0;
  border-radius: 5px 0 0 5px;
  z-index: 999; }

.slide ul {
  list-style: none;
  padding-left: 0; }

.slide .icon li {
  width: 49px;
  height: 50px;
  background: url(../images/icon.png) no-repeat; }

.slide .icon .up {
  background-position: -330px -120px; }

.slide .icon li.qq {
  background-position: -385px -73px; }

.slide .icon li.tel {
  background-position: -385px -160px; }

.slide .icon li.wx {
  background-position: -385px -120px; }

.slide .icon li.down {
  background-position: -330px -160px; }

.slide .info {
  top: 50%;
  height: 147px;
  position: absolute;
  right: 100%;
  background: #018D75;
  width: 0px;
  overflow: hidden;
  margin-top: -73.5px;
  transition: 0.5s;
  border-radius: 4px 0 0 4px; }

.slide .info.hover {
  width: 145px; }

.slide .info li {
  width: 145px;
  color: #CCCCCC;
  text-align: center; }

.slide .info li p {
  font-size: 1.1em;
  line-height: 2em;
  padding: 15px;
  text-align: left; }

.slide .info li.qq p a {
  display: block;
  margin-top: 12px;
  width: 100px;
  height: 32px;
  line-height: 32px;
  color: #00DFB9;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #00DFB9;
  border-radius: 5px; }

.slide .info li.qq p a:hover {
  color: #FFFFFF;
  border: none;
  background: #00E0DB; }

.slide .info li div.img {
  height: 100%;
  background: #DEFFF9;
  margin: 15px; }

.slide .info li div.img img {
  width: 100%;
  height: 100%; }

/*控制菜单的按钮*/
.index_cy {
  width: 30px;
  height: 30px;
  background: url(../images/index_cy.png);
  position: fixed;
  right: 0;
  top: 50%;
  margin-top: 140px;
  background-position: 62px 0;
  cursor: pointer; }

.index_cy2 {
  width: 30px;
  height: 30px;
  background: url(../images/index_cy.png);
  position: fixed;
  right: 0;
  top: 50%;
  margin-top: 140px;
  background-position: 30px 0;
  cursor: pointer; }

/*自适应 当屏小于1050时隐藏*/
@media screen and (max-width: 1050px) {
  .slide {
    display: none; }
  #btn {
    display: none; } }
